.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh ;
  background: rgb(1, 46, 61);
  color: white;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
}